page-custom-duration {
    padding-top: 50px;

    background-color: rgba(0, 0, 0, 0.7);

    div {
        background: white;
        height: auto;
        width: 90%;
        margin: auto;
        border-radius: 5px;
    }

    .label-md {
        margin: 0px;
    }

    ion-input {
        border-bottom: 2px solid gray;

        .text-input-md {
            margin: 0;
            padding: 0;
            width: calc(100% - 8px - 8px);
        }
    }
}
